
@{
    ViewData["Title"] = "Index";
}

<a asp-area="" asp-controller="Student" asp-action="All">Get All Students</a>
<br/>
<a asp-area="" asp-controller="Student" asp-action="Create">Add New Student</a>

