
@{
    ViewData["Title"] = "Index";
}


<a asp-area="" asp-controller="Standard" asp-action="All">Get All Standards</a>
<br />
<a asp-area="" asp-controller="Standard" asp-action="Create">Add New Standard</a>


